@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: lightpink;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

header {
  background-color: lightpink;
  color: black;
  line-height: 1.5;
  padding: 20px;
  margin-top: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.projects {
  background-color: lightpink;
  color: black;
  line-height: 1.5;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.card-two {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.card-one {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.card-three {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: deeppink;
  margin: 10px;
  background-color: lightpink;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  overflow: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  color: black;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.hero-container {
  position: relative;
  text-align: center;
  line-height: 1.5;
  color: black;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 100px;
}

.contact-form {
  background-color: lightpink;
  color: black;
  text-align: center;
  line-height: 1.5;
  padding: 20px;
  margin-top: 50px;
}

table {
  width: 100%;
  border-color: black;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5;
  padding: 20px;
}
